<app-header title="Login "></app-header>

<ion-content>

   <div class="d-flex-center">
    <form [formGroup]="formAuth" class="auth-form"  (ngSubmit)="submit()" (keypress.enter)="submit()">

      <app-logo></app-logo>

      <ion-item class="rounded-box">
        <ion-input formControlName="email" 
        label="Email" 
        label-placement="floating"
        placeholder="Ingrese su email"
       id="email"
       autocomplete="email"></ion-input>
        <ion-icon slot="start" name="mail-outline"></ion-icon>
      </ion-item>
      <!--validando el correo-->
      
      
        
      <div class="validators" *ngIf="formAuth.controls.email.errors && formAuth.controls.email.touched">
        <div *ngIf="formAuth.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="formAuth.controls.email.errors?.['email']">ingrese un correo Válido</div>
      </div>

      <ion-item>
        <ion-input 
        label="Contraseña" label-placement="floating"
        formControlName="password" 
        [type]="showPassword ? 'text' : 'password'"
        placeholder="ingrese su contraseña"
        id="password"

        ></ion-input>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>

      <!--validando el password-->
        
      <div class="validators" *ngIf="formAuth.controls.password.errors && formAuth.controls.password.touched">
        <div *ngIf="formAuth.controls.password.errors?.['required']">La contraseña es requerida</div>
      </div>
      <p class="ion-text-end" routerLink="forgot-password">¿olvidaste tu contraseña?</p>


      <ion-button  expand="block" mode="ios" class="submit" type="submit" [disabled]="formAuth.invalid" style="--background: rgb(48, 174, 179);">
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

      <ion-button class="ion-margin-top custom-background" routerLink="sing-op" routerLinkActive="router-link-active"  
      expand="block" mode="ios" >
        Regístrate
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    
    </form>

   </div>
</ion-content>