<app-header title="Login"></app-header>

<ion-content>

   <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form"  (ngSubmit)="submit()" (keypress.enter)="submit()">

      <app-logo></app-logo>

      <app-custom-input 
        autocomplete="email"
        icon="mail-outline" 
        [control]="form.controls.email"
        type="email"
        label="Correo"
      ></app-custom-input>
      <!--validando el correo-->
        
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">ingrese un correo Válido</div>
      </div>
  
      <app-custom-input 
      [control]="form.controls.password"
        icon="lock-closed-outline"
        type="password"
        label="Contraseña"
      ></app-custom-input>

      <!--validando el password-->
        
      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
      </div>
      <p class="ion-text-end" routerLink="forgot-password">¿olvidaste tu contraseña?</p>


      <ion-button  expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid" style="--background: rgb(48, 174, 179);">
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

      <ion-button class="ion-margin-top custom-background" routerLink="sing-op" routerLinkActive="router-link-active"  
      expand="block" mode="ios" >
        Regístrate
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    
    </form>

   </div>
</ion-content>