ion-button { 
    --background: rgb(48, 174, 179);
    --background-activated:rgb(17, 119, 123);
    --color: white;
    --background-activated-opacity:rgb(17, 119, 123);
    --background-focused :rgb(17, 119, 123);
}
