<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Not-Found</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Ooops!</ion-title>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Error!!</ion-card-title>
          <ion-card-subtitle>Página no encontrada</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          No es posible mostrar esta página
          
            <ion-img src="../../../assets/imagenes/error-no-es-fracaso.jpg"></ion-img>
          
        </ion-card-content>
      </ion-card>
    </ion-toolbar>
  </ion-header>
</ion-content>
