
  <ion-content class="background">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-text color="light">
            <h1 style="margin-left: 20px; font-weight: bold; font-size: 40px;">Bienvenido!</h1>
          </ion-text>
          <ion-text color="light">
            <h1 style="margin-left: 20px;">Salón de Belleza</h1>
          </ion-text>
          <ion-text color="light">
            <h3 style="margin-left: 20px;">Beauty Gold</h3>
          </ion-text>
          <div style="margin-top: 50px;">
            <ion-item class="rounded-box">
              <ion-label position="floating">Nombre De Usuario</ion-label>
              <ion-input [(ngModel)]="formlogin.correo" placeholder="Introduzca su nombre de usuario aquí"></ion-input>
            </ion-item>
            <ion-item class="rounded-box">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="formlogin.password"
                placeholder="Introduzca su contraseña aquí"></ion-input>
            </ion-item>
            <ion-item class="botones">
              <ion-button class="custom-center" (click)="iniciarSesion()" id="open-loading" shape="block" shape="round">Iniciar
                sesión</ion-button>
                <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="1000"></ion-loading>
            </ion-item>
            <ion-col size="12">
              <ion-item class="botones">
                <ion-button class="custom-center" [routerLink]="['/registro-cliente']" fill="clear" shape="block">Registrarse</ion-button>
              </ion-item>
            </ion-col>
          </div>
        </ion-col>
        
        <ion-col size="12">
          <ion-item class="botones">
            <ion-button class="custom-center" [routerLink]="['/olvido-contrasena']" fill="clear" shape="block">¿Olvidaste tu
              contraseña?</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
