<app-header [isModal]="true" [title]=" comentario ? 'Actualizar Comentario' : 'Agregar Comentario' "></app-header>


   <ion-content>
    
    <form [formGroup]="form" class="ion-paddong ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">
        <app-custom-input
     
        [control]="form.controls.nombre" 
        type="text"
        label="Nombre"
        placeholder="ingrese el Nombre "
        ></app-custom-input>
   
   
       <div class="validators" *ngIf="form.controls.nombre.errors && form.controls.nombre.touched">
         <div *ngIf="form.controls.nombre.errors?.['required']">Este campo es requerido</div>
         <div *ngIf="form.controls.nombre.errors?.['minlenght']">el nombre debe tener mas de 4 caracteres</div>
       </div>
       <app-custom-input
     
        [control]="form.controls.apellido" 
        type="text"
        label="apellido"
        placeholder="ingrese el apellido "
        ></app-custom-input>
   
   
       <div class="validators" *ngIf="form.controls.apellido.errors && form.controls.apellido.touched">
         <div *ngIf="form.controls.apellido.errors?.['required']">Este campo es requerido</div>
         <div *ngIf="form.controls.apellido.errors?.['minlenght']">el nombre debe tener mas de 4 caracteres</div>
       </div>
       <app-custom-input
     
        [control]="form.controls.coment" 
        type="text"
        label="Comentario"
        placeholder="ingrese el coment "
        ></app-custom-input>
   
   
       <div class="validators" *ngIf="form.controls.coment.errors && form.controls.coment.touched">
         <div *ngIf="form.controls.coment.errors?.['required']">Este campo es requerido</div>
         <div *ngIf="form.controls.coment.errors?.['minlenght']">el nombre debe tener mas de 4 caracteres</div>
       </div>
  


       
        <ion-button expand="full" (click)="agregarComentario()">Agregar Comentario</ion-button>
      </form>

      


</ion-content>




