ion-content {
    --background:  Gray;
    --color: var(--ion-color-primary-contrast);
    --padding-top: 20px;
}

ion-item {
    --background: Gray;
    --color: var(--ion-color-light);
    font-size: 14px;

    ion-icon {
        color: var(--ion-color-light)
    }

    &.active {
        color: var(--ion-color-warning);
       

        ion-icon {
            color: var(--ion-color-warning)
        }
    }
}


ion-menu {
   --width: 254px;
   --min-width: 254px;
   outline: none;
}

h4{
    margin-top:5px;
    font-weight:bold
}
.avatar-icon{
    font-size: 100px;
}

.empty-icon{
    font-size: 100px;
   
}
ion-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}