<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start">
      <ion-img src="../../../assets/imagenes/Logopelu.jpg"></ion-img>
    </ion-avatar>
    <ion-title class="titulo-centrado">Registro de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item class="botones">
  <ion-button class="custom-center" shape="block" shape="round">Cargar Foto</ion-button>
</ion-item>
<ion-content>
  <form [formGroup]="clienteForm" (ngSubmit)="clienteAgregadoExitosamente()">

    <ion-item>
     
      <ion-input label="Rut" label-placement="floating" formControlName="rut" type="text" placeholder="Ingrese su Rut" id="rut"></ion-input>
    </ion-item>
    <ion-item>
      
      <ion-input label="Nombre" label-placement="floating" formControlName="nombre" type="text" placeholder="Ingrese su Nombre" id="nombre"></ion-input>
    </ion-item>

    <ion-item>
      
      <ion-input label="Apellido Paterno" label-placement="floating" formControlName="apaterno" type="text" placeholder="Ingrese su Apellido Paterno" id="apaterno"></ion-input>
    </ion-item>
    <ion-item>
      
      <ion-input label="Apellido Materno" label-placement="floating" formControlName="amaterno" type="text" placeholder="Ingrese su Apellido Materno" id="amaterno"></ion-input>
    </ion-item>
    <ion-item>
      
      <ion-input label="Edad" label-placement="floating" formControlName="edad" type="number" placeholder="Ingrese su Edad" id="edad"></ion-input>
    </ion-item>
    <ion-item>
      
      <ion-input label="Direccion" label-placement="floating" formControlName="direccion" type="text" placeholder="Dirección" id="direccion"></ion-input>
    </ion-item>
    <ion-item>
      
      <ion-input label="Telefono" label-placement="floating" formControlName="telefono" type="number" placeholder="Ingrese su Telefono" id="telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email" label-placement="floating" aria-label="Email" formControlName="email" type="text" placeholder="Ingrese su Email" id="email"></ion-input>
    </ion-item>
    
    <ion-button expand="full" type="submit" [disabled]="clienteForm.invalid">Registrar</ion-button>
  </form>

</ion-content>
