ion-avatar {
    --border-radius: 4px;
  }

.custom-center {
    display: block;
    margin: 0 auto;
  }
  
  .estiloBoton {
    width: 100%;
    padding: 10px;
    height: 100px;
    --border-radius: 10;
    --background: rgb(162, 224, 217);
    --color: white;
    font-weight: bold;
    font-size: 18px;
  }


.background {
    --background: url(../../../assets/imagenes/Logopelu.jpg) 0 0/100% 100% no-repeat;
    width: 150px; 
    height: auto; 
}

ion-button { 
    --background: turquoise;
    --color: white;
}

.titulo-centrado {
    text-align: center;
  }