<app-header [isModal]="true" [title]=" product ? 'Actualizar producto' : 'Agregar Producto' "></app-header>
<ion-content>
  <form [formGroup]="form" class="ion-paddong ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">


    <!--==== si no existe una  imagen=====-->

    <ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon>
    <br>


    <!--==== mostrar imagen=====-->
    <ion-avatar *ngIf="form.value.image">
      <img [src]="form.value.image" />
    </ion-avatar>

    <!--==== tomar o seleccionar imagen=====-->
    <ion-button (click)="takeImage()" size="small" model="ios" shape="round" style="--background: rgb(48, 174, 179);">
      Tomar/Seleccionar
    </ion-button>

    <!--=========nombre=========-->
    <app-custom-input
     
     [control]="form.controls.name" 
     type="text"
     label="Nombre"
     placeholder="ingrese el Nombre "
     ></app-custom-input>


    <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
      <div *ngIf="form.controls.name.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.name.errors?.['minlenght']">el nombre debe tener mas de 4 caracteres</div>
    </div>


<!--========= precio =========-->
    <app-custom-input 
    [control]="form.controls.price" 
    type="number" 
    label="Precio"
    (ionInput)="setNumberInput()"
    placeholder="ingrese el precio "
    ></app-custom-input>


    <div class="validators" *ngIf="form.controls.price.errors && form.controls.price.touched">
      <div *ngIf="form.controls.price.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.price.errors?.['min']">El precio mínimo debe ser 0</div>
    </div>
<!--========= unidades vendidas=========-->
    <app-custom-input 
    [control]="form.controls.soldUnits" 
    type="number" 
    label="Unidad Vendidas"
    (ionInput)="setNumberInput()"
    placeholder="ingrese unidades vendidas "
    ></app-custom-input>


    <div class="validators" *ngIf="form.controls.soldUnits.errors && form.controls.soldUnits.touched">
      <div *ngIf="form.controls.soldUnits.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.soldUnits.errors?.['min']">la cantidad minima debe ser 0</div>
    </div>




    <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid" >
      {{product ? 'Actualizar producto' : 'Agregar Producto'}}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>



  </form>
</ion-content>